.footer__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
  margin: 1rem auto;
}

.footer__content:last-child {
  text-align: end;
}

.footer__logo,
.footer__description {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.footer__logo {
  font-size: 2rem;
}


/* Breakpoints */
@media screen and (max-width: 992px) {
  .footer__container {
    margin: 0 var(--mb-1-5);
  }
}

@media screen and (max-width: 576px) { 
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
  }


  .footer__logo {
    font-size: 1.6rem;
  }

  .footer__content:last-child {
    text-align: center;
  }
  
}